/* A Modern CSS Reset */
*,*::before,*::after{box-sizing:border-box}ul[class],ol[class]{padding:0}body,h1,h2,h3,h4,p,ul[class],ol[class],figure,blockquote,dl,dd{margin:0}body{min-height:100vh;scroll-behavior:smooth;text-rendering:optimizeSpeed;line-height:1.5}ul[class],ol[class]{list-style:none}a:not([class]){text-decoration-skip-ink:auto}img{max-width:100%;display:block}article>*+*{margin-top:1em}input,button,textarea,select{font:inherit}@media(prefers-reduced-motion:reduce){*{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}
li{list-style:none;margin:0;padding:0;}ul{margin:0;padding:0;}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Regular.ttf') format("truetype");
}

* {
  font-family: 'roboto';
  user-select: none;
}

html,body {
    overflow: hidden;
}

body {
    background-image: url("../imgs/game_bg_img.jpg");
    background-size: cover;
    background-position: center;
}

#container {
    display: grid;
    margin: 0 auto;
    width: 90%;
    height: calc(100vh - 20px);
    max-width: calc(50px * 22);
    grid-template:
    "margin1"    1fr
    "setting"    30px
    "margin2"    10px
    "question"   195px
    "margin3"    1fr
    "showNote"   40px           
    "answer"     220px
    "margin4"    10px
    / 100%;
    align-items: center;
}

/* ライフゲージ */
#life-wrap {
    grid-area: life;
}

#life-frame {
    display: flex;
    background-color: rgba(10, 0, 50, 0.6);
    width: 100%;
    padding: 3px;
}

#life-bar {
    background-color: aqua;
    height: 3px;
}

#life-light {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    filter: saturate(500%);
    box-shadow: 0 0 5px 3px rgb(200, 255, 255),
                0 0 7px 7px rgb(100, 255, 255);
}

/* セッティングボタン */
#setting-wrap {
    grid-area: setting;
}

/* 問題エリア */
#question-wrap {
    grid-area: question;
    padding-bottom: 15px;
    background-color:rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#notation-btns {
    display: flex;
    width: 100%;
}
.notation {
    margin-top: 15px;
    padding: 0 10px;
    position: relative;
    width: 50%;
}
#notation1-btn,#notation2-btn {
    margin: 0 auto;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: white;
    box-shadow: 3px 3px 0 0 gray;
}
#showNote-btn {
    grid-area: showNote;
    width: 110px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 5px;
    text-align: center;
    background-color: white;
    box-shadow: 3px 3px 0 0 gray;
}

.noteLine {
    height:15px;
    border-bottom: solid 2px rgba(255, 255, 255, 0.8);
}

.noteLine.subLine {
    border-bottom:dotted rgba(255, 255, 255, 0.8) 1px;
}

#gCref {
    position: absolute;
    top: calc(25px);
    left: 2px;
}

.notes-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.note-wrap {
    position:absolute;
    text-align: center;
    display:flex;
    justify-content: center;
    width:100%;
}

.note {
    width:15px;
    height:15px;
    border-radius: 15px;
    transform: skew(-10deg,-10deg);
}

.sign {
    line-height:15px;
    text-align: center;
}

.oct-sign {
    margin-left: 10px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

.note-name {
    width: 80%;
    background: rgba(80, 100, 170, 0.3);
    text-align: center;
    color: white;
    font-size: 30px;
    height: 50px;
    line-height: 50px;
}

.invisible {
    visibility: hidden;
}

/* 回答エリア */
#answer-wrap {
    grid-area: answer;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    height: calc(30px * 6 + 30px + 10px);
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

#fret-wrap {
    margin-top: 5px;
    position: absolute;
    display: flex;
    background-color: rgba(10, 0, 30, 0.6);
}

.fret {
    width:50px;
    height: calc(30px * 6 - 10px);
    border-left: solid silver 2px;
}

.fret:first-child {
    border-right: solid 10px ivory;
    border-left: none;
}

.single-mark {
    background-image: radial-gradient(circle ,white 7%, transparent 8%);
}

.double-mark {
    background-image: radial-gradient(circle ,white 7%, transparent 8%),radial-gradient(circle ,white 7%, transparent 8%);
    background-position: 0 -45px, 0 45px;
}

#string-wrap {
    margin-top: 5px;
    position: absolute;
}

.string {
    width: calc(50px * 12);
    height: 30px;
    border-bottom: solid 2px;
}

.string:first-child {
    height: 10px;
}

#touch-wrap {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: calc(50px * 12);
}

.touch {
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.touch.disabled {
    background: white;
    opacity: 0.6;
    pointer-events: none;
}

.touch.showdata {
    font-size:13px;
    font-weight: bold;
    color: #1d1d1d;
    letter-spacing: -0.1em;
    background-image: radial-gradient(circle, rgba(235, 235, 240, 0.9) 40%, steelblue 42%, transparent 50% );
}

#fret-num-wrap {
    position: absolute;
    display: flex;
    margin-top: calc(30px * 6);
}

.fret-num {
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: white;
}

#grade-wrap {
    position: fixed;
    top: 40vh;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.grade {
    position: absolute;
    width: 100%;
    text-align:center;
    font-size: 30px;
    animation-name: moveGrade;
    animation-duration: 200ms;
	color: #FFF;
    -webkit-box-reflect: below -0.25em -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, .4)), to(transparent));
}

@keyframes moveGrade {
    0% {transform: translateY(0px);}
    50% { transform: translateY(-30px); }
    100% { transform: translateY(0px); }
}

.perfect {
    filter: saturate(200%);
	text-shadow: 
		0 0 0.05em rgb(255, 255, 0),
		0 0 0.10em rgb(200, 150, 0),
		0 0 0.15em rgb(200, 150, 0),
		0 0 0.30em rgb(255, 0, 0);
}
.great {
    filter: saturate(200%);
	text-shadow: 
		0 0 0.05em rgb(240, 98, 145),
		0 0 0.10em rgb(240, 98, 145),
		0 0 0.15em rgb(240, 98, 145),
		0 0 0.30em rgb(240, 98, 145);
}
.good {
    filter: saturate(100%);
	text-shadow: 
		0 0 0.05em rgb(0, 110, 25),
		0 0 0.10em rgb(0, 110, 25),
		0 0 0.15em rgb(0, 110, 25),
		0 0 0.30em rgb(0, 110, 25);    
}
.ok {
    filter: saturate(50%);
	text-shadow: 
		0 0 0.05em rgb(0, 25, 170),
		0 0 0.10em rgb(0, 25, 170),
		0 0 0.15em rgb(0, 25, 170),
		0 0 0.30em rgb(0, 25, 170);    
}
.miss {
    color: #ccc;
    filter: saturate(50%);
	text-shadow: 
		0 0 0.05em rgb(150, 0, 200),
		0 0 0.10em rgb(150, 0, 200),
		0 0 0.15em rgb(150, 0, 200),
		0 0 0.30em rgb(150, 0, 200);   
}

#combo {
    position:fixed;
    top: 120px;
    width: 100%;
    text-align: center;
    font-size: 35px;
    color: #FFF;
    filter: saturate(200%);
    text-shadow: 
        0 0 0.05em rgb(255, 255, 0),
        0 0 0.10em rgb(200, 150, 0),
        0 0 0.15em rgb(200, 150, 0),
        0 0 0.30em rgb(255, 0, 0);
}
.combo-scale-enter-active {
    transition: all .15s ;
}
.combo-scale-leave-active {
    transition: all .3s;
}
.combo-scale-enter {
    transform: scale(0.0, 0.0);
    opacity: 0;
}
.combo-scale-leave-to {
    opacity: 0;
}

#effects-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.touch-effect {
    position: fixed;
    width:20px;
    height:20px;
    border-radius: 50%;
    pointer-events: none;
    animation-name: touchEffect;
    animation-duration: 150ms;
}

@keyframes touchEffect {
	0% {
        background :  rgba(0, 255, 255, 0);
		box-shadow: 0 0 8px 6px rgba(0, 255, 242, 0),
			0 0 0px 0px rgba(255, 255, 255, 1),
			0 0 0px 0px rgba(0, 255, 242, 0);
	}
	10% {
        background :  rgba(0, 255, 255, 1);
		box-shadow: 0 0 20px 6px rgba(0, 255, 242, 1),
			0 0 0 5px rgba(255, 255, 255, 1),
            0 0 5px 30px rgba(0, 255, 242, 1);
	}
	100% {
        background : rgba(0, 255, 255, 0);
		box-shadow: 0 0 8px 6px rgba(0, 255, 242, 0),
			0 0 10px 50px rgba(255, 255, 255, 0),
			0 0 10px 40px rgba(0, 255, 242, 0);
    }
}

#count-down {
    position:fixed;
    top:25%;
    width: 100%;
    text-align: center;
    font-size: 70px;
    color: #FFF;
    filter: saturate(200%);
    text-shadow: 
        0 0 0.05em rgb(255, 255, 0),
        0 0 0.10em rgb(200, 150, 0),
        0 0 0.15em rgb(200, 150, 0),
        0 0 0.30em rgb(255, 0, 0);
    pointer-events: none;
}

/* スクロールバーのスタイリング */
::-webkit-scrollbar {
    height: 7px;
}
::-webkit-scrollbar-track {
    border-radius: 5px;
	background:rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
	background:rgb(0, 200, 200);
}

#result-modal,#setting-modal,#giveup-modal {
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: rgba(0, 5, 20, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
#result-modal-container,#setting-modal-container,#giveup-modal-container {
    margin: 0 auto;
    width: 90%;
    max-width: 500px;
    font-size: 20px;
    color: white;
}

#setting-title {
    font-size:50px;
    text-shadow: 0 0 0.3em rgba(255, 255, 255, 1);
    grid-area: title;
}

#setting-modal-container {
    display: grid;
    width: 90%;
    height: calc(100vh - 20px);
    grid-template:
    "title"     120px
    "strings"   90px
    "frets"     90px
    "btns"      1fr
    /1fr;
    align-items: center;
}

#setting-use-strings {
    grid-area: strings;
}
#setting-use-frets {
    grid-area: frets;
}
.setting-group {
    display: flex;
    justify-content: center;
    margin:0 10px;
}
.setting-group > label {
    display: block;
    width: 100%;
    text-align: center;
    border: solid white 1px;
}
.setting-group > div {
    width: 100%;
    text-align: center;
}

#setting-modal-container input {
    display: none;
}

#setting-modal-container input:checked + label {
    background: white;    
    border-color:  rgba(0, 5, 20, 0.8);
    font-weight: bold;
    color: black;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: rgba(0, 5, 20, 0.8);
    border: 1px solid white;
    border-radius: 0;
    color: white;
    padding-left: 5px;
    position: relative;
    width: 100%;
}
.select-wrap {
    display: inline-block;
    position: relative;
}
.select-wrap::before {
    content: '';
    border-style: solid;
    border-width: 7px 5px 0 5px;
    border-color: white transparent transparent transparent;
    top: 14px;
    right: 8px;
    position: absolute;
    pointer-events: none;
    z-index: 1;
}

#setting-buttons,#result-buttons,#giveup-buttons {
    display: flex;
    grid-area: btns;
    justify-content: space-around;
}

.btn {
    border: solid white 1px;
    background-color: rgba(0, 20, 40, 0.8);
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    box-shadow:
        0 0 5px white,
        0 0 10px white;
        font-size: 15px;
}

.modal-open-enter-active {
    transition: all .15s ;
}
.modal-open-leave-active {
    transition: all 0.6s;
}
.modal-open-enter {
    transform: translateY( -100% );
}
.modal-open-enter-to {
    transform: translateY( 0 );
}
.modal-open-leave-to {
    transform: scale( 10 );
    opacity: 0;
}

.loader-leave-active { transition: all 1s; }
.loader-leave-to { opacity: 0 }